* {
    margin: 0;
    padding: 0;
}

.sketchContainer {
    height: 500px;
    width: 500px;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
}

.tiles {
    box-sizing: border-box;
    border: .1px solid black;
}